@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

:root {
  /* Primary Blues */
  --primary-blue: #044CAC;
  --light-blue: #A4C4E4;
  --medium-blue: #4C6594;
  --accent-blue: #3E5FA3;

  /* Grays & Neutrals */
  --light-gray: #D9D9D9;
  --medium-gray: #AEAEAE;
  --soft-gray: #AEB8CB;
  --text-gray: #959595;

  /* Basics */
  --black: #000000;
  --white: #FFFFFF;
}
